.horizontal-form-label
  = f.label attribute, t("spina.#{plugin.namespace}.settings.#{attribute}")
.horizontal-form-content
  = f.text_field attribute, placeholder: t("spina.#{plugin.namespace}.settings.#{attribute}_placeholder")
