= form_for @setting, url: admin_settings_path do |f|
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon('check')
        = t('spina.settings.save')

  .well
    .horizontal-form
      - plugin.settings.each do |key, value|
        .horizontal-form-group= render "#{value.is_a?(Hash) ? value.first.first : value}_field", f: f, attribute: key
