%h1
  = @page.title

%h5 Line
%p
  = @page.content(:line)

%hr

%h5 Content
= @page.content(:text).try(:html_safe)

%hr

%h5 Photo
%p
  = image_tag @page.content(:photo).try(:file_url)

%hr

%h5 Photo collection
%p
  - @page.content(:photo_collection).photos.each do |photo|
    %span
      = image_tag photo.file_url

%hr

%h5 Structure
- if @page.content(:structure).try(:structure_items)
  %ul
    - @page.content(:structure).structure_items.each do |item|
      %li
        %h6 Title
        %p
          = item.content(:title)
        %h6 Description
        = item.content(:description).try(:html_safe)

%h5 Color
= @page.content(:color)
