%h1= current_page.title

%h5 Line
%p= content :line

%h5 Content
!= content :text

%h5 Image

%p
  = image_tag main_app.url_for(content(:image).variant(resize: "200x200")), width: 100

%h5 Image collection

%ul
  - if has_content?(:image_collection)
    - content(:image_collection).images.each do |image|
      %li= image_tag main_app.url_for(image.variant(resize: '200x200')), width: 100

%h5 Structure

%ul
  - if has_content?(:structure)
    - content(:structure).structure_items.each do |item|
      %li
        %h6 Title
        %p= item.content(:title)
        %h6 Description
        != item.content(:description)
