%h1= current_page.title

%h2= content :headline
%p!= content :body

%h5 Repeater
- repeater :repeater do |project|
  %h1= project.content :line
  %p= project.content :headline
  - project.content(:image_collection)&.each do |image|
    = image_tag spina_image_url(image, resize: '100x100')

%h4 Image
= image_tag spina_image_url(:image, resize: '100x100')

%h4 Image collection
- images :image_collection do |image|
  = image_tag spina_image_url(image, resize: '100x100')
