%h1= current_page.title

%h2= content :headline
%p!= content :body

%h5 Repeater
- repeater :repeater do |project|
  %h1= project.content :line
  %p= project.content :headline
  - project.content(:image_collection).each do |img|
    = image_tag image(img, resize: '100x100')

%h4 Image
= image_tag image(:image, resize: '100x100')

%h4 Image collection
- content(:image_collection).each do |img|
  = image_tag image(img, resize: '100x100')
