<h1><%= current_page.title %></h1>
<%= content :option %>

<%= content :headline %>
<%= content.text :headline %>
<%= content.html :body %>

<% if has_content?(:attachment) %>
  <%= link_to "Attachment", content.attachment_url(:attachment) %> 
<% end %>

<% if has_content?(:image) %>
  <%= content.image_tag :image, resize_to_fill: [100, 100] %>
<% end %>

<%= current_account.content :line %>

<% repeater current_account.content(:repeater) do |repeater_content| %>
  <%= repeater_content.content :line %>
<% end %>

<% images :image_collection do |image| %>
  <%= content.image_tag image, resize_to_fill: [50, 50] %>
<% end %>

<% repeater :repeater do |project| %>
  <%= project.content.html :line %>
  <%= project.content.image_tag :image, resize_to_fill: [50, 50] %>
<% end %>
