%h1= current_page.title

= image_tag spina_image_url(:header_image)

= content :headline
!= content :body

- repeater :portfolio do |project|
  = image_tag spina_image_url(project.content(:image))
  = project.content :title

- images :image_collection do |image|
  = image_tag spina_image_url(image, resize: '200x200')