%h1= current_page.title
= content(:text).try(:html_safe)

!= content(:body)

= content.attachment_url(:attachment)

= content.image_url(:image)

/ Falls back to global part "line"
= content(:line)

/ Same as above, but explicitly search globally
= content(:line)
