%h1= current_page.title
= content(:text).try(:html_safe)

!= content(:body)

= spina_attachment_url(:attachment)

= spina_image_url(:image)

/ Falls back to global part "line"
= content(:line)

/ Same as above, but explicitly search globally
= content(:line, global: true)
