.structure-form-pane{class: ('active' if f.options[:child_index] == 0), id: "structure_form_pane_#{f.object.object_id}"}
  / Structure parts
  = f.fields_for :structure_parts, build_structure_parts(f.object.structure.try(:page_part).try(:name), f.object) do |ff|
    .structure-form-part
      = render "spina/admin/structure_partables/#{partable_type_partial_namespace(ff.object.structure_partable_type)}/form", f: ff

    = ff.hidden_field :id
    = ff.hidden_field :title
    = ff.hidden_field :structure_partable_type
    = ff.hidden_field :name

  / Hidden field
  = f.hidden_field :position, placeholder: "Position", class: "structure_form_pane_#{f.object.object_id}_position"
  = f.hidden_field :_destroy
  = link_to t('spina.delete'), '#', class: 'remove_structure_item_fields button button-mini button-link pull-right'
