.table-container
  %table.table
    %thead
      %tr
        %th{width: 200}= Spina::Inquiry.human_attribute_name(:name)
        %th= Spina::Inquiry.human_attribute_name(:message)
        %th{colspan: 2}

    %tbody
      - if @inquiries.present?
        - @inquiries.each do |inquiry|
          %tr
            %td
              %p 
                %strong= inquiry.name

            %td
              %p= link_to inquiry.summary, spina.inbox_show_admin_inquiry_path(inquiry)

            %td.nowrap
              = l inquiry.created_at, format: '%e %B %Y %H:%M'

            %td.nowrap
              = link_to t('spina.inquiries.mark_as_read'), spina.mark_as_read_admin_inquiry_path(inquiry), method: :patch, class: 'button button-link button-small', data: {icon: 'k'}
              = link_to "Verwijderen", spina.admin_inquiry_path(inquiry), method: :delete, class: 'button button-danger button-link button-small', data: {confirm: t('spina.inquiries.delete_confirmation', subject: inquiry.name)}
      
      - else
        %tr
          %td.align-center{colspan: 3}
            %em= t('spina.inquiries.empty_inbox')
