.table-container.table-form
  %table.table
    %tr
      %th= Spina::Inquiry.human_attribute_name(:name)
      %td= @inquiry.name
    %tr
      %th= Spina::Inquiry.human_attribute_name(:email)
      %td= @inquiry.email
    %tr
      %th= Spina::Inquiry.human_attribute_name(:phone)
      %td= @inquiry.phone
    %tr
      %td
      %td= simple_format @inquiry.message

.pull-right
  - unless @inquiry.archived?
    = link_to t('spina.inquiries.mark_as_read'), spina.mark_as_read_admin_inquiry_path(@inquiry), method: :patch, class: 'button', data: {icon: 'k'}

  - if @inquiry.spam
    = link_to t('spina.inquiries.no_spam'), spina.unmark_spam_admin_inquiry_path(@inquiry), method: :patch, class: 'button', data: {icon: 'v'}

  = link_to t('spina.cancel'), spina.admin_inquiry_path(@inquiry), method: :delete, class: 'button button-danger button-link', data: {confirm: t('spina.inquiries.delete_confirmation', subject: @inquiry.name)}
