<div id="auto-uploaded-images" data-controller="editor-insert-images" data-trix-target-id="<%= trix_target_id %>">
  <% @images.each do |image| %>
    <div
      class="hidden trix-insert-image"
      data-image-id="<%= image.id %>"
      data-signed-blob-id="<%= image.file.blob&.signed_id %>"
      data-filename="<%= image.file.filename %>"
      data-thumbnail="<%= helpers.thumbnail_url(image) %>"
      data-embedded-url="<%= helpers.embedded_image_url(image) %>"
      data-original-url="<%= helpers.original_url(image) %>"
    ></div>
  <% end %>
</div>
