- content_for(:header_actions) do
  
  = link_to spina.edit_admin_resource_path(@resource), class: 'button' do
    = t('spina.resources.edit')

  = link_to spina.new_admin_page_path(params: {resource_id: @resource.id, view_template: @resource.view_template.presence || 'show'}), class: 'button button-primary icon-only', style: 'margin-right: 0' do
    = icon('plus')

.well
  .dd#pages_list
    %ol.dd-list
      - @resource.pages.each do |page|
        %li.dd-item
          .dd-item-inner= render partial: 'spina/admin/pages/page', object: page