= form_for [spina, :admin, @page], multipart: true, html: {autocomplete: "off"} do |f|
  - content_for :notification_alert do
    = error_explanation!(@page)

  - @tabs.each do |tab|
    = render "spina/admin/pages/form_#{tab}", f: f

        %tr{style: ('display: none' if @page.custom_page?)}
          %td
            = Spina::Page.human_attribute_name :ancestry
          %td
            .select-dropdown.ancestry
              - options = options_for_select(Spina::Page.active.sorted.roots.map { |page| [page.menu_title, page.id] }.unshift([]) )
              = f.select :ancestry, options

  %button.button.button-primary{type: 'submit'}
    = icon('check')
    =t 'spina.pages.save'

  = link_to t('spina.cancel'), spina.admin_pages_path, class: 'button button-link'

  - unless @page.new_record? || !@page.deletable
    .pull-right= link_to t('spina.permanently_delete'), spina.admin_page_path(@page), method: :delete, data: {confirm: t('spina.pages.delete_confirmation', subject: @page.menu_title)}, class: 'button button-link button-danger'
