<% @tabs = %w[page_content search_engines advanced] %>
<div data-controller="tabs" data-tabs-active="cursor-default text-gray-900 bg-spina-dark bg-opacity-10" data-tabs-inactive="cursor-pointer bg-transparent text-gray-400 border-transparent">
  <%= render Spina::UserInterface::HeaderComponent.new do |header| %>
    <% header.after_breadcrumbs do %>
      <% if @page.draft? %>
        <span class="text-gray-400 ml-2 text-sm">(<%= Spina::Page.human_attribute_name(:draft) %>)</span>
      <% end %>
      <%= link_to @page.materialized_path, class: 'px-3 py-2 flex items-center text-gray-400 hover:text-gray-700', target: :blank, data: {turbo: false} do %>
        <%= heroicon("external-link", style: :solid, class: "w-4 h-4") %>
      <% end %>
    <% end %>
    <% header.actions do %>
      <%= render Spina::Pages::ActionsComponent.new(page: @page, locale: @locale) %>
    <% end %>
    <% header.navigation do %>
      <nav class="-mb-3 mt-4">
        <ul class="inline-flex w-auto rounded-md bg-white">
          <% @tabs.each do |tab_name| %>
            <%= render Spina::Pages::TabButtonComponent.new(
              page: @page,
              locale: @locale,
              tab_name: tab_name,
            ) %>
          <% end %>
        </ul>
      </nav>
    <% end %>
  <% end %>
  <div class="p-4 md:p-8">
    <%= form_with model: @page, url: spina.admin_page_path(@page), id: dom_id(@page) do |f| %>
      <%= hidden_field_tag :locale, @locale %>
      <% Mobility.with_locale(@locale) do %>
        <% @tabs.each do |tab_name| %>
          <div data-tabs-target="pane" id="<%= tab_name %>" <%= 'hidden' unless tab_name == @tabs.first %>>
            <%= render partial: "form_#{tab_name}", locals: {f: f} %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
