= form_for [spina, :admin, @page], multipart: true, html: {autocomplete: "off"} do |f|
  - content_for :notification_alert do
    = error_explanation!(@page)

  #page_content.tab-content.active
    .table-container
      %table.table.table-form
        %tr
          %td
            Titel
          %td
            = f.text_field :title, placeholder: "Titel in de pagina"

        = f.fields_for :page_parts, @page_parts.sort { |a,b| a.position(current_theme) <=> b.position(current_theme) } do |page_part_form|
          %tr.page-part{data: {name: page_part_form.object.name}}
            %td
              %label= page_part_form.object.title
            %td
              = page_part_form.hidden_field :id
              = page_part_form.hidden_field :title
              = page_part_form.hidden_field :page_partable_type
              = page_part_form.hidden_field :name

              = render partial: "spina/admin/page_partables/#{page_part_form.object.page_partable_type.demodulize.underscore}_form", object: page_part_form

  #page_seo.tab-content
    .table-container
      %table.table.table-form
        %tr
          %td
            SEO &lt;title&gt;
          %td
            = f.text_field :seo_title, placeholder: "Deze titel komt in de <title>-tag van de broncode te staan"

        %tr
          %td
            SEO Beschrijving
            %small De beschrijving wordt weergegeven bij resultaten van zoekmachines
          %td
            = f.text_field :description, placeholder: "Een korte beschrijving van de pagina"

  #advanced.tab-content
    .table-container
      %table.table.table-form
        %tr
          %td
            Concept
            %small Handig wanneer de pagina nog niet helemaal af is
          %td
            = f.check_box :draft, data: {switch: true}
        %tr
          %td
            Doorsturen
            %small Doorsturen naar eerste onderliggende pagina
          %td
            = f.check_box :skip_to_first_child, data: {switch: true}
        %tr
          %td
            In menu weergeven
            %small Als dit uit staat komt de pagina niet voor in het menu
          %td
            = f.check_box :show_in_menu, data: {switch: true}
        %tr{style: ('border-bottom: none' if @page.custom_page?)}
          %td
            Menu titel
          %td
            = f.text_field :menu_title, placeholder: "Leeglaten om de titel van de pagina over te nemen"

        %tr{style: ('display: none' if @page.custom_page?)}
          %td
            Pagina template
          %td
            .select-dropdown.page-template{data: {page_parts: current_theme.config.view_templates[@page.view_template || "show"][:page_parts]}}
              - options = options_for_select(current_theme.config.view_templates.map { |template| [template[1][:title], template[0], {'data-page-parts' => template[1][:page_parts]}] }, @page.view_template)
              = f.select :view_template, options

  %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
    Pagina opslaan

  = link_to "Annuleren", spina.admin_pages_path, class: 'button button-link'

  - unless @page.new_record? || !@page.deletable
    .pull-right= link_to "Definitief verwijderen", spina.admin_page_path(@page), method: :delete, data: {confirm: "Weet je zeker dat je de pagina <strong>#{@page.menu_title}</strong> wilt verwijderen?"}, class: 'button button-link button-danger'
