#page_seo.tab-content.well
  .horizontal-form
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :seo_title
      .horizontal-form-content
        = f.text_field :seo_title, placeholder: Spina::Page.human_attribute_name(:seo_title_placeholder), value: f.object.seo_title(fallback: false, default: nil)

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :description
        %small= Spina::Page.human_attribute_name :description_description
      .horizontal-form-content
        = f.text_field :description, placeholder: Spina::Page.human_attribute_name(:description_placeholder)

    - unless @page.new_record?
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Page.human_attribute_name :materialized_path
        .horizontal-form-content
          = f.text_field :materialized_path, disabled: true