#page_content.tab-content.active.well
  .horizontal-form
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :title
      .horizontal-form-content
        = f.text_field :title, placeholder: Spina::Page.human_attribute_name(:title_placeholder)

    - @parts.each do |part|
      = f.fields_for :content do |ff|
        = render "spina/admin/parts/#{part.partable_type}", f: ff, field: part.name, object: f.object

            


    / - @page_parts.each do |page_part|
    /   - if page_part[:partable_type] == "Spina::Line"
    /     = f.fields_for :content do |ff|
    /       = ff.text_field page_part[:name], value: f.object.content[page_part[:name]]

    /   - if page_part[:partable_type] == "Spina::Text"
    /     = f.fields_for :content do |ff|
    /       = render 'spina/admin/shared/rich_text_field', f: ff, field: page_part[:name], value: f.object.content[page_part[:name]]



-#
    = f.fields_for :page_parts, @page_parts.sort { |a,b| a.position(current_theme) <=> b.position(current_theme) } do |ff|
      = ff.hidden_field :id
      = ff.hidden_field :title
      = ff.hidden_field :page_partable_type
      = ff.hidden_field :name

      .horizontal-form-group.page-part{data: {name: ff.object.name}}
        = render "spina/admin/partables/#{ partable_type_partial_namespace(ff.object.page_partable_type) }/form", f: ff
