#page_content.tab-content.active

  .page-form
    .page-form-group
      .page-form-label= Spina::Page.human_attribute_name :title
      .page-form-control
        = f.text_field :title, placeholder: Spina::Page.human_attribute_name(:title_placeholder), class: 'input-large'

    - parts = (current_theme.view_templates.find{|v|v[:name].to_s == f.object.view_template.to_s}.dig(:parts) || [])

    = f.fields_for "#{@locale}_content".to_sym, build_parts(f.object, parts) do |ff|
      = ff.hidden_field :type, value: ff.object.class
      = ff.hidden_field :name
      = ff.hidden_field :title

      .page-form-group.page-part{data: {name: ff.object.name}}
        = render "spina/admin/parts/#{parts_partial_namespace(ff.object.class.to_s)}/form", f: ff
