<%= turbo_frame_tag dom_id(@page, :new_page_form) do %>
  <%= form_with model: @page, url: spina.admin_pages_path, data: {turbo_frame: "_top"} do |f| %>
    <%= f.hidden_field :view_template %>
    
    <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start">
        <div class="w-full">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
            <%=t 'spina.pages.new' %>
            <span class="text-gray-400 text-sm">(<%= f.object.view_template %>)</span>
          </h3>
    
          <div class="mt-3">
            <%= render Spina::Forms::TextFieldComponent.new(f, :title, size: 'lg', autofocus: true) %>
          </div>
          
          <div class="mt-4">
            <div class="text-sm font-medium text-gray-700 mb-1"><%=t 'spina.pages.add_page_to' %></div>
            
            <%= render Spina::Pages::LocationComponent.new(f, @page) %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap mob:justify-between p-4 gap-2">
      <button type="submit" class="btn btn-primary grow mob:grow-0">
        <%= heroicon("plus", style: :solid, class: "w-6 h-6") %>
        <%=t 'spina.pages.create' %>
      </button>

      <button type="button" class="btn btn-default grow mob:grow-0" data-action="modal#close">
        <%= heroicon("x", style: :solid, class: "w-4 h-4") %>
        <%=t 'spina.ui.cancel' %>
      </button>
    </div>

  <% end %>
<% end %>