= link_to spina.edit_admin_page_path(page), class: 'button button-link button-small sortable-link' do
  = page.menu_title
  - if page.draft?
    %small (#{t('spina.pages.concept')})
  - elsif !page.show_in_menu?
    %small (#{t('spina.pages.show_in_menu')})

  - if page.skip_to_first_child
    %small (#{raw t('spina.pages.skip_to_first_child')})

%span.pull-right
  = link_to spina.edit_admin_page_path(page), class: 'button button-small button-link dd-nodrag' do
    = icon('pencil-outline')
    = t('spina.edit')
