- if f.object.structure.present?
  - f.object.structure_parts.where(name: 'title').first || f.object.structure_parts.build(name: 'title', title: 'Titel', structure_partable_type: "Spina::Line")

/ Hidden field
= f.text_field :position, placeholder: "Position"

/ Strucure parts
= f.fields_for :structure_parts do |structure_part_form|

  = structure_part_form.text_field :id
  = structure_part_form.text_field :title
  = structure_part_form.text_field :name
  = structure_part_form.text_field :structure_partable_type

  %p= render partial: "spina/admin/structure_partables/#{structure_part_form.object.structure_partable_type.demodulize.underscore}_form", object: structure_part_form