%header#header
  .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  #header_actions
    - if Spina.config.locales.size > 1
      %div{data: {dropdown: true}}
        = link_to '#', class: 'button button-round button-hollow button-small', data: {trigger: 'dropdown', target: '#locales'} do
          = icon('comment')
          = @locale.upcase

        %ul#locales.align-right
          - Spina.config.locales.each do |locale|
            %li
              = link_to t("languages.#{locale}"), "?locale=#{locale}", style: ('font-weight: 600' if @locale.to_s == locale.to_s)

  %nav#secondary.tabs
    %ul
      - @tabs.each_with_index do |tab, i|
        %li{class: (i==0 ? 'active' : '')}
          = link_to t("spina.pages.#{tab}"), "##{tab}"

= render 'form'
