- content_for(:header_actions) do
  %span{data: {dropdown: true}}
    = link_to spina.new_admin_page_path(params: {view_template: 'show'}), class: 'button button-primary', style: 'margin-right: 0', data: {trigger: ('dropdown' if current_theme.new_page_templates.size > 1), target: '#create_page_dropdown'} do
      = icon('plus')
      = t('spina.pages.new')

    .sliding-dropdown#create_page_dropdown.align-right
      .slide-controls
        %a.previous.muted.icon-only{href: '#'}
          = icon('chevron-left')

        - current_theme.new_page_templates.each_with_index do |template, index|
          .slide-title{class: ('active' if index == 0), data: {target: "#slide-#{template[0].parameterize}"}}= template[1]

        %a.next.icon-only{href: '#'}
          = icon('chevron-right')

      - current_theme.new_page_templates.each_with_index do |template, index|
        .slide{class: ('active' if index == 0), id: "slide-#{template[0].parameterize}"}
          %p= template[2]

          %p.muted= template[3]

          .slide-dots
            - current_theme.new_page_templates.each_with_index do |template2, index2|
              .slide-dot{class: ('active' if index2 == index)}

          = link_to spina.new_admin_page_path(params: {view_template: template[0]}), class: 'button button-primary' do
            = icon('pencil-outline')
            = t('spina.pages.create_page', template: template[1])

.well
  .dd#pages_list{data: {:"sort-url" => spina.sort_admin_pages_url }}
    %ol.dd-list
      = render partial: 'page_nested_list', collection: @pages