.modal
  %header
    = link_to '#', data: {dismiss: "modal"} do
      = icon('cross')
    - if @media_folder.new_record?
      %h3=t 'spina.photos.new_folder'
    - else
      %h3=t 'spina.photos.rename_folder'

  = form_with model: [spina, :admin, @media_folder] do |f|
    %section
      = f.text_field :name, placeholder: Spina::MediaFolder.human_attribute_name(:name)
    %footer
      = link_to t('spina.cancel'), '#', data: {dismiss: 'modal'}
      = button_tag type: :submit, class: 'primary' do
        %i.icon.icon-plus{style: 'margin-right: 4px'}
        =t 'spina.photos.new_folder'
