= form_for @user, url: spina.admin_password_reset_path(params[:id]), html: {id: "login_wrapper"} do |f|
  = image_tag 'spina/spina-large.png', class: 'animated fadeInDown'
  - if @user.errors.any?
    .failed-to-login.animated.fadeInDown
      .icon.icon-cross
      = @user.errors.full_messages.join('<br />').html_safe

  .login-fields
    = f.text_field :password, placeholder: Spina::User.human_attribute_name(:password), autofocus: true, class: "animated fadeInDown"

    = f.text_field :password_confirmation, placeholder: Spina::User.human_attribute_name(:password_confirmation), class: "animated fadeInDown"

  = f.button t('spina.forgot_password.save'), class: 'button button-primary animated fadeInDown'
