<%= form_with model: @user, url: spina.admin_password_reset_path(params[:id]) do |f| %>
  <div class="flex flex-col max-w-xs mx-auto items-center">
    <div class="py-8">
      <%= image_tag 'spina/spina.svg', width: 75 %>
    </div>
    
    <% if flash[:alert] %>
      <div class="bg-red-400 p-2 px-4 rounded-full font-medium text-white mb-5">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <%= f.password_field :password, placeholder: Spina::User.human_attribute_name(:password), class: 'form-input w_full' %>
    
    <%= f.password_field :password_confirmation, placeholder: Spina::User.human_attribute_name(:password_confirmation), class: 'form-input mt-3 w-full' %>

    <%= button_tag type: :submit, class: "btn btn-primary h-10 mt-3 w-full" do %>
      <%= t('spina.forgot_password.save') %>
    <% end %>
    
  </div>
<% end %>