= form_tag spina.admin_password_resets_path, method: :post, id: "login_wrapper" do
  = image_tag 'spina/spina.svg', width: 72, height: 54
  - if flash[:alert].present?
    .failed-to-login.animated.fadeInDown
      .icon.icon-cross
      = flash[:alert]

  .login-fields
    = text_field_tag :email, params[:email], placeholder: Spina::User.human_attribute_name(:email), autofocus: true

  = button_tag t('spina.forgot_password.request'), class: 'button button-primary'

  .login-extra-links= link_to t('spina.login'), spina.admin_login_path, class: 'button button-hollow button-block'