= form_for @inquiry do |f|
  = raw negative_captcha(@captcha)
  %table
    %tbody
      %tr
        %td= f.negative_label @captcha, :name, 'Name'
        %td= f.negative_text_field @captcha, :name, placeholder: "Naam"
      %tr
        %td= f.negative_label @captcha, :email, 'Email'
        %td= f.negative_text_field @captcha, :email, placeholder: "Email"
      %tr
        %td= f.negative_label @captcha, :message, 'Bericht'
        %td= f.negative_text_area @captcha, :message, placeholder: "Bericht", cols: 40, rows: 20

      %tr
        %td
        %td
          = submit_tag "Verstuur bericht", class: 'button'
          %small.pull-right Alle velden zijn verplicht
