.page-form-label= f.object.title
.page-form-control{data: {controller: "image-form"}}
  .page-form-media-picker
    = link_to admin_media_picker_path(selected_ids: [f.object.image_id], input: "media_picker_#{f.object.object_id}", mode: "single"), remote: true, class: 'image', data: {target: 'image-form.image'} do
      .page-form-media-picker-placeholder=t "spina.images.choose_image"
      = f.hidden_field :image_id, id: "media_picker_#{f.object.object_id}", data: {target: 'image-form.field'}
      %div
        - if f.object.image&.file&.attached?
          = image_tag variant(f.object.image.file, resize: "400x300^", crop: "400x300+0+0"), width: 200, height: 150

    = button_tag type: :default, class: 'button button-small button-white', data: {action: "image-form#remove"} do
      %i.icon.icon-cross{style: "margin: 0; font-size: 10px"}

  .page-form-media-picker
    = f.text_field :alt, placeholder: "Alt text"
