<%= turbo_frame_tag dom_id(@navigation_item, :form) do %>
  <%= form_with model: @navigation_item, url: spina.admin_navigation_navigation_items_path(@navigation), data: {turbo_frame: "_top", action: "turbo:submit-end->modal#close"} do |f| %>
    <%= f.hidden_field :parent_id %>
    
    <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start">
        <div class="w-full">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
            <%=t 'spina.navigations.add_menu_item' %>
          </h3>
    
          <div class="mt-3">
            
            <div class="border border-gray-300 rounded-md bg-white">
              <%= render Spina::Pages::PageSelectComponent.new("navigation_item[page_id]", @pages, include_blank: t("spina.navigations.choose_page"), disabled: @navigation.navigation_items.pluck(:page_id)) %>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap mob:justify-between p-4 gap-2">
      <button type="submit" class="btn btn-primary grow mob:grow-0">
        <%= heroicon('plus', style: :solid, class: 'w-4 h-4 ml-1') %>
        <%=t 'spina.navigations.add_menu_item' %>
      </button>
      <button type="button" class="btn btn-default grow mob:grow-0" data-action="modal#close">
        <%= heroicon('x', style: :solid, class: 'w-4 h-4 ml-1') %>
        <%=t 'spina.ui.cancel' %>
      </button>
    </div>
  <% end %>
<% end %>