!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0, user-scalable=no'}
    = csrf_meta_tags

    %title SpinaCMS

    / Stylesheet
    = stylesheet_link_tag "spina/admin/application"

    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"

    / JavaScript
    = javascript_include_tag "spina/admin/application"

  %body
    #login_container
      = yield
