%p= "Beste beheerder van #{@current_account.name},"

%p 
  Er is een contactformulier verzonden op de website. Je kunt reageren door deze email te beantwoorden.

%table
  %tr
    %td Door
    %td= @inquiry.name
  %tr  
    %td Email
    %td= @inquiry.email
  %tr
    %td Inhoud
    %td= simple_format(@inquiry.message)