.media-picker-grid
  - if @media_folder.present?
    = link_to spina.admin_media_picker_path(multiple: params[:multiple], selected_ids: selected_ids), class: 'media-folder', data: {action: "media-picker#openFolder"} do
      .media-folder-thumbnail
      .media-folder-name GO BACK
  - else
    - @media_folders.each do |media_folder|
      = link_to spina.admin_media_picker_path(multiple: params[:multiple], selected_ids: selected_ids, media_folder_id: media_folder.id), class: 'media-folder', data: {action: "media-picker#openFolder"} do
        .media-folder-thumbnail{data: {badge: media_folder.images.size}}
          = image_tag variant(media_folder.images.last.file, resize: '144x144^', crop: "144x144+0+0")
          .media-folder-shadow
        .media-folder-name= media_folder.name

  = render partial: 'image', collection: @images

.media-picker-pagination= link_to_next_page @images, "nest", data: {remote: true}