.modal-container{data: {controller: "modal"}}
  .modal.modal-large{data: {controller: "media-picker"}}
    %header
      = button_tag type: :default, class: 'modal-close-cross', data: {action: "modal#close"} do
        = icon('cross')
      %h3=t "spina.images.choose_image"
    %section.media-picker
      = hidden_field_tag :selector, params[:hidden_field_id], data: {target: "media-picker.selector"}
      = hidden_field_tag :placeholder, params[:placeholder_id], data: {target: "media-picker.placeholder"}

      .media-picker-grid
        - @media_folders.each do |media_folder|
          = link_to '#', class: 'media-folder' do
            .media-folder-thumbnail{data: {badge: media_folder.images.size}}
              = image_tag variant(media_folder.images.last.file, resize: '144x144^', crop: "144x144+0+0")
              .media-folder-shadow
            .media-folder-name= media_folder.name

        - @images.each do |image|
          %label.media-picker-image
            - if params[:multiple]
              = check_box_tag :image_id, image.id, image.id.in?(selected_ids), data: {action: "media-picker#toggle", image_id: image.id, thumbnail_url: thumbnail_url(image)}
            - else
              = radio_button_tag :image_id, image.id, image.id.in?(selected_ids), data: {action: "media-picker#choose modal#close", image_id: image.id, thumbnail_url: thumbnail_url(image)}
            %span= image_tag thumbnail_url(image), width: 200, height: 150

    - if params[:multiple]
      %section.media-picker-footer
        .media-picker-selected-images{data: {target: "media-picker.selectedImages"}}
          - @selected_images.each do |image|
            = image_tag thumbnail_url(image), data: {target: "media-picker.selectedImage", image_id: image.id}

        = button_tag type: :button, class: 'pull-right button button-primary', data: {action: "media-picker#choose_multiple modal#close"} do
          =t "spina.images.confirm_selection"
          %span{data: {target: "media-picker.selectedCount"}} (#{@selected_images.size})