.modal-container{data: {controller: "modal"}}
  .modal.modal-large{data: {controller: "media-picker"}}
    %header
      = button_tag type: :default, class: 'modal-close-cross', data: {action: "modal#close"} do
        = icon('cross')
      %h3=t "spina.images.choose_image"
    %section.media-picker
      = hidden_field_tag :selector, params[:hidden_field_id], data: {target: "media-picker.selector"}
      = hidden_field_tag :placeholder, params[:placeholder_id], data: {target: "media-picker.placeholder"}
  
      %div{data: {target: "media-picker.grid"}}
        = render 'media_picker_grid'

    - if params[:multiple]
      %section.media-picker-footer
        .media-picker-selected-images{data: {target: "media-picker.selectedImages"}}
          - @selected_images.each do |image|
            = image_tag thumbnail_url(image), data: {target: "media-picker.selectedImage", image_id: image.id}

        = button_tag type: :button, class: 'pull-right button button-primary', data: {action: "media-picker#choose_multiple modal#close"} do
          =t "spina.images.confirm_selection"
          %span{data: {target: "media-picker.selectedCount"}} (#{@selected_images.size})