.modal.modal-large
  %section
    .gallery-select.gallery{data: {multiselect: defined?(multiple) && multiple, trix: params[:trix_toolbar_id].present?}}
      .item.item-small.item-uploader.new-image-form{style: "position: absolute"}
        = render partial: 'spina/admin/images/form'

      = form_with url: admin_media_picker_path, class: 'gallery-prepend-image', html: {'data-remote': true} do
        = hidden_field_tag :hidden_field_id, params[:hidden_field_id]
        = hidden_field_tag :trix_toolbar_id, params[:trix_toolbar_id]
        = check_box_tag :multiple, true, defined?(multiple) && multiple, style: 'display: none'

        .infinite-scroll
          = render partial: 'spina/admin/images/image', collection: @images

        .infinite-pagination{data: { controller: 'infinite-scroll' } }
          = link_to_next_page @images, 'Next', params: params, remote: true,
            data: { target: 'infinite-scroll.link' }
          %span{ data: { target: 'infinite-scroll.link' } }

        - if params[:trix_toolbar_id].present?
          .gallery-select-sidebar
            .gallery-select-sidebar-form
              %h3=t 'spina.images.image_attributes'
              .form-group
                .form-label Alt text
                .form-control= text_field_tag :alt, nil, placeholder: "Alt text"

              / .form-group
              /   .form-label Custom class
              /   .form-control= text_field_tag :custom_class, nil, placeholder: "Custom clas"

              .form-group
                .form-label Link to URL
                .form-control= text_field_tag :link_to_url, nil, placeholder: "URL"

            .gallery-select-sidebar-actions
              = link_to t('spina.cancel'), "#", class: 'button button-link', data: {dismiss: 'modal'}
              = button_tag type: 'submit', class: 'button button-primary button-large', style: 'margin-bottom: 0px' do
                = icon('check')
                = t('spina.images.insert_image')

        - if defined?(multiple) && multiple
          .gallery-select-action-bar
            .pull-right
              = link_to t('spina.cancel'), "#", class: 'button button-link', data: {dismiss: 'modal'}
              = button_tag type: 'submit', class: 'button button-primary button-large', style: 'margin-bottom: 0px' do
                = icon('plus')
                = t('spina.images.choose_images')
                %span.gallery-select-counter
                  - if params[:selected_ids].try(:any?)
                    (#{ params[:selected_ids].count })
