.modal.modal-large
  %section
    .gallery-select.gallery{data: {multiselect: defined?(multiple) && multiple}}
      .item.item-small.item-uploader.new-image-form
        = render partial: 'spina/admin/images/form'

      = form_with url: admin_media_picker_path, class: 'gallery-prepend-image' do
        = hidden_field_tag :hidden_field_id, params[:hidden_field_id]
        = hidden_field_tag :trix_editor_id, params[:trix_editor_id]
        = check_box_tag :multiple, true, defined?(multiple) && multiple, style: 'display: none'

        .infinite-scroll
          = render partial: 'spina/admin/images/image', collection: @images

        .infinite-pagination{data: {controller: 'infinite-scroll'}}= link_to_next_page @images, 'Next', params: params, remote: true, data: {target: "infinite-scroll.link"}

        - if defined?(multiple) && multiple
          .gallery-select-action-bar
            .pull-right
              = link_to t('spina.cancel'), "#", class: 'button button-link', data: {dismiss: 'modal'}
              = button_tag type: 'submit', class: 'button button-primary button-large', style: 'margin-bottom: 0px' do
                = icon('plus')
                = t('spina.images.choose_images')
                %span.gallery-select-counter
                  - if params[:selected_ids].try(:any?)
                    (#{ params[:selected_ids].count })
