.page-form-label= f.object.title
.page-form-control
  .structure-form{data: {controller: "repeater-form"}}
    .structure-form-menu
      %ul{data: {target: "repeater-form.list"}}
        - (f.object.content || []).each.with_index do |repeater_content, index|
          %li{class: ('active' if index.zero?), data: {part_id: repeater_content.object_id, target: "repeater-form.listItem"}}
            = link_to "#structure_form_pane_#{repeater_content.object_id}" do
              %i.icon.icon-bars.sortable-handle
              %span= strip_tags(repeater_content.parts&.first&.content.to_s)

      %div{style: "margin-top: 6px; margin-left: 6px"}
        = link_to_add_repeater_fields f do
          = icon('plus')
    .structure-form-content{data: {target: "repeater-form.content"}}
      = f.fields_for :content do |ff|
        = render 'spina/admin/parts/repeaters/fields', f: ff