.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = f.fields_for :partable, f.object.partable do |ff|
    = ff.text_field :content, placeholder: "#{t 'spina.pages.page_part'} #{f.object.name.downcase}"
