<%= render Spina::UserInterface::HeaderComponent.new do |header| %>
  <% header.with_actions do %>
    <%= render Spina::UserInterface::TranslationsComponent.new(@account, label: @locale.upcase) %>
  
    <% if Spina::Current.theme.layout_parts.any? %>
      <%= button_tag type: :submit, form: dom_id(@account), class: 'btn btn-primary', data: {controller: "button hotkeys", hotkeys: "command+s, ctrl+s", hotkeys_target: "button", action: "button#loading", loading_message: t('spina.ui.saving')} do %>
        <%= heroicon('check', style: :mini, class: 'w-5 h-5 -ml-1 mr-1') %>
        <%=t 'spina.layout.save' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
  
<%= form_with model: @account, url: spina.admin_layout_path, id: dom_id(@account) do |f| %>
  <%= hidden_field_tag :locale, @locale %>
  
  <div class="py-4 p-8">
    <% if Spina::Current.theme.layout_parts.any? %>
      
      <div class="max-w-5xl">
        <%= f.fields_for "#{@locale}_content".to_sym, build_parts(f.object, Spina::Current.theme.layout_parts) do |ff| %>
          <%= ff.hidden_field :type, value: ff.object.class %>
          <%= ff.hidden_field :name %>
          <%= ff.hidden_field :title %>
  
          <%= render "spina/admin/parts/#{parts_partial_namespace(ff.object.class.to_s)}/form", f: ff %>
        <% end %>
      </div>
    <% else %>
      <div class="text-gray-500 italic">
        <%=t 'spina.layout.no_layout_parts' %>
      </div>
    <% end %>
  </div>

<% end %>