.modal.modal-large
  %header
    = link_to "", "#", class: 'close_modal', data: {dismiss: 'modal', icon: 'm'}
    %h3=t 'spina.photos.insert_photo'

  %section
    .gallery-select.gallery
      .item
        = form_for [spina, :admin, @photo], html: {multipart: true} do |f|
          = f.file_field :file, data: {customfileinput: true}

      = form_tag spina.insert_photo_admin_photos_path(params[:page_part_id]), remote: true, class: 'gallery-prepend-image' do
        - @photos.each do |photo|
          .item{class: ('selected' if photo == @selected_photo)}
            .overlay= radio_button_tag :photo_id, photo.id, photo == @selected_photo
            = image_tag photo.file.thumb

        %footer
          = link_to t('spina.cancel'), "#", data: {dismiss: 'modal'}
          = button_tag t('spina.photos.insert_photo'), type: 'submit', class: 'primary', data: {icon: 't '}
