.modal.modal-large
  %section
    .gallery-select.gallery-select-multiple.gallery{data: {multiselect: true}}
      .item.item-small.item-uploader
        = form_for [spina, :admin, @photo], html: {multipart: true} do |f|
          = f.label :file, t('spina.photos.upload_image')
          = f.file_field :files, multiple: true, data: {customfileinput: true}

      = form_tag spina.insert_photo_collection_admin_photos_path(params[:page_part_id]), remote: true, class: 'gallery-prepend-image' do
        .infinite-scroll
          = render partial: 'spina/admin/photos/photo_multi_picker', collection: @photos

        .infinite-pagination= link_to_next_page @photos, 'Next', params: params.slice(:selected_photo_ids), remote: true

        .gallery-select-action-bar
          .pull-right
            = link_to t('spina.cancel'), "#", class: 'button button-link', data: {dismiss: 'modal'}
            = button_tag type: 'submit', class: 'button button-primary button-large', style: 'margin-bottom: 0px' do
              = icon('plus')
              = t('spina.photos.choose_images')
              %span.gallery-select-counter
                - if @selected_photo_ids.any?
                  (#{ @selected_photo_ids.count })
