.modal.modal-large
  %section
    .gallery-select.gallery
      .item
        = form_for [spina, :admin, @photo], html: {multipart: true} do |f|
          = f.label :file, t('spina.photos.upload_image')
          = f.file_field :file, data: {customfileinput: true}

      = form_tag spina.wysihtml5_insert_admin_photos_path(params[:object_id]), remote: true, class: 'gallery-prepend-image' do
        - @photos.each do |photo|
          .item
            .overlay= radio_button_tag :photo_id, photo.id
            = image_tag photo.file.thumb
