= form_for [spina, :admin, current_account] do |f|
  .table-container
    %table.table.table-form
      %tr
        %td
          = Spina::Account.human_attribute_name(:name)
        %td
          = f.text_field :name, placeholder: Spina::Account.human_attribute_name(:name)

      %tr
        %td
          = Spina::Account.human_attribute_name(:address)
        %td
          = f.text_field :address, placeholder: Spina::Account.human_attribute_name(:address)

      %tr
        %td
          = Spina::Account.human_attribute_name(:postal_code)
        %td
          = f.text_field :postal_code, placeholder: Spina::Account.human_attribute_name(:postal_code)

      %tr
        %td
          = Spina::Account.human_attribute_name(:city)
        %td
          = f.text_field :city, placeholder: Spina::Account.human_attribute_name(:city)

      %tr
        %td
          = Spina::Account.human_attribute_name(:phone)
        %td
          = f.text_field :phone, placeholder: Spina::Account.human_attribute_name(:phone)

      %tr
        %td
          = Spina::Account.human_attribute_name(:email)
        %td
          = f.text_field :email, placeholder: Spina::Account.human_attribute_name(:email)

  %button.button.button-primary{type: 'submit'}
    = icon('check')
    = t('spina.preferences.account_save')
