= form_for [spina, :admin, current_account], url: spina.admin_account_path do |f|
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon('check')
        = t('spina.preferences.account_save')

  .well
    .horizontal-form
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Account.human_attribute_name(:name)
        .horizontal-form-content
          = f.text_field :name, placeholder: Spina::Account.human_attribute_name(:name)

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Account.human_attribute_name(:address)
        .horizontal-form-content
          = f.text_field :address, placeholder: Spina::Account.human_attribute_name(:address)

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Account.human_attribute_name(:postal_code)
        .horizontal-form-content
          = f.text_field :postal_code, placeholder: Spina::Account.human_attribute_name(:postal_code)

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Account.human_attribute_name(:city)
        .horizontal-form-content
          = f.text_field :city, placeholder: Spina::Account.human_attribute_name(:city)

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Account.human_attribute_name(:phone)
        .horizontal-form-content
          = f.text_field :phone, placeholder: Spina::Account.human_attribute_name(:phone)

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Account.human_attribute_name(:email)
        .horizontal-form-content
          = f.text_field :email, placeholder: Spina::Account.human_attribute_name(:email)

  