= form_for [spina, :admin, current_account] do |f|
  .table-container
    %table.table.table-form
      %tr
        %td
          = Spina::Account.human_attribute_name(:aviary_language)
        %td
          = f.select :aviary_language, [["English", "en"],["Bulgarian", "bg"],["Catalan", "ca"],["Chinese-(simplified)", "zh_HANS"],["Chinese-(traditional)", "zh_HANT"],["Czech", "cs"],["Danish", "da"],["Dutch", "nl"],["Finnish", "fi"],["French", "fr"],["German", "de"],["Greek", "el"],["Hebrew", "he"],["Hungarian", "hu"],["Indonesian", "id"],["Italian", "it"],["Japanese", "ja"],["Korean", "ko"],["Latvian", "lv"],["Lithuanian", "lt"],["Norwegian", "no"],["Polish", "pl"],["Portuguese", "pt"],["Portuguese-(Brazilian)", "pt_BR"],["Russian", "ru"],["Spanish", "es"],["Slovak", "sk"],["Swedish", "sv"],["Turkish", "tr"],["Vietnamese", "vi"]], prompt: "Select language"
      %tr
        %td
          = Spina::Account.human_attribute_name(:aviary_api_key)
        %td
          = f.text_field :aviary_api_key, placeholder: Spina::Account.human_attribute_name(:aviary_api_key)
      %tr
        %td
          = Spina::Account.human_attribute_name(:ngrok_address)
          %br
          %span
            %i Localhost aviary testing
        %td
          = f.text_field :ngrok_address, placeholder: Spina::Account.human_attribute_name(:ngrok_address)

  %button.button.button-primary{type: 'submit'}
    = icon('check')
    = t('spina.preferences.aviary_save')
