= form_for [spina, :admin, current_account] do |f|
  .table-container
    %table.table.table-form
      %tr
        %td
          %label= Spina::Account.human_attribute_name(:facebook)
        %td
          = f.text_field :facebook, placeholder: Spina::Account.human_attribute_name(:facebook)

      %tr
        %td
          %label= Spina::Account.human_attribute_name(:twitter)
        %td
          = f.text_field :twitter, placeholder: Spina::Account.human_attribute_name(:twitter)

      %tr
        %td
          %label= Spina::Account.human_attribute_name(:google_plus)
        %td
          = f.text_field :google_plus, placeholder: Spina::Account.human_attribute_name(:google_plus)

  %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
    = t('spina.preferences.social_media_save')
