= form_for [spina, :admin, current_account], url: spina.admin_account_path do |f|
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    #header_actions
      %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
        = icon('check')
        = t('spina.preferences.style_save')

  .well
    .horizontal-form
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Account.human_attribute_name(:theme)
        .horizontal-form-content
          .select-dropdown.account-theme{data: {layout_parts: current_theme.layout_parts.map{|layout_part| layout_part[:name]}}}
            - options = options_for_select(::Spina::Theme.all.map { |theme| [theme.name, theme.name, {'data-layout-parts' => theme.layout_parts.map{|layout_part| layout_part[:name] }}] }, current_account.theme)
            = f.select :theme, options

      = f.fields_for :layout_parts do |ff|
        .horizontal-form-group.layout-part{data: {name: ff.object.name}}
          .horizontal-form-label
            = ff.object.title
          .horizontal-form-content
            = ff.hidden_field :id
            = ff.hidden_field :title
            = ff.hidden_field :layout_partable_type
            = ff.hidden_field :name

            = render "spina/admin/layout_partables/#{ partable_type_partial_namespace(ff.object.layout_partable_type) }/form", f: ff
