= form_for [spina, :admin, current_account], url: spina.admin_account_path do |f|
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    #header_actions
      %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
        = icon('check')
        = t('spina.preferences.style_save')

  .well
    .horizontal-form
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Account.human_attribute_name(:theme)
        .horizontal-form-content
          .select-dropdown.account-theme
            = f.select :theme, Spina::Theme.all.map(&:name)


    - parts = (current_theme.layout_parts || [])
    - parts = build_parts(f.object, parts)

    = f.fields_for "#{I18n.locale}_content".to_sym, parts do |ff|
      = ff.hidden_field :type, value: ff.object.class
      = ff.hidden_field :name
      = ff.hidden_field :title
      
      .page-form-group.page-part{data: {name: ff.object.name}}
        = render "spina/admin/parts/#{parts_partial_namespace(ff.object.class.to_s)}/form", f: ff

      - if false
        = f.fields_for :layout_parts do |ff|
          .horizontal-form-group.layout-part{data: {name: ff.object.name}}
            .horizontal-form-label
              = ff.object.title
            .horizontal-form-content
              = ff.hidden_field :id
              = ff.hidden_field :title
              = ff.hidden_field :layout_partable_type
              = ff.hidden_field :name

              = render "spina/admin/layout_partables/#{ partable_type_partial_namespace(ff.object.layout_partable_type) }/form", f: ff
