= form_for [spina, :admin, current_account], url: spina.admin_account_path do |f|
  %header#header
    .breadcrumbs
      = render_breadcrumbs separator: '<div class="divider"></div>'
      %span{style: 'margin-left: 10px'}
        - if Spina.config.locales.size > 1
          %div{style: "display: inline-block", data: {dropdown: true}}
            = link_to '#', class: 'button button-hollow button-small', style: 'margin-left: 0; margin-right: 0', data: {trigger: 'dropdown', target: '#locales'} do
              = icon('comment')
              =t "spina.languages.#{@locale}"
              %i.icon.icon-chevron-down{style: 'font-size: 9px; margin-right: 0'}

            %ul#locales
              - Spina.config.locales.each do |locale|
                %li
                  = link_to t("spina.languages.#{locale}"), "?locale=#{locale}", style: ('font-weight: 600' if @locale.to_s == locale.to_s).to_s

    #header_actions
      %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
        = icon('check')
        = t('spina.preferences.style_save')

  .page-form
    .page-form-group
      .page-form-label= Spina::Account.human_attribute_name(:theme)
      .page-form-control
        .select-dropdown= f.select :theme, Spina::Theme.all.map(&:name)

    = f.fields_for "#{@locale}_content".to_sym, build_parts(f.object, current_theme.layout_parts) do |ff|
      = ff.hidden_field :type, value: ff.object.class
      = ff.hidden_field :name
      = ff.hidden_field :title
      
      .page-form-group.page-part{data: {name: ff.object.name}}
        = render "spina/admin/parts/#{parts_partial_namespace(ff.object.class.to_s)}/form", f: ff
