!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    = csrf_meta_tags
    %meta{name: 'turbolinks-cache-control', content: 'no-preview'}

    %title Spina

    / Stylesheet
    = stylesheet_link_tag 'spina/admin/application', data: {turbolinks_track: true}

    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js', data: {turbolinks_track: true}

    / JavaScript
    = javascript_include_tag 'spina/admin/application', data: {turbolinks_track: true}
    = yield(:plugin_stylesheets)

    / Plugins
    - Spina::Plugin.all.each do |plugin|
      - if current_theme.plugins.include? plugin.name
        - if lookup_context.exists? "spina/admin/hooks/#{ plugin.namespace }/_head"
          = render "spina/admin/hooks/#{ plugin.namespace }/head"

  %body
    = render 'spina/admin/shared/primary_navigation'

    %section#main
      = yield(:permanent_notice)

      = render 'spina/admin/shared/notifications'

      = content_for?(:application) ? yield(:application) : yield

      = link_to 'http://www.spinacms.com', class: 'spina-logo', target: :blank do
        = image_tag('spina/spina.svg', width: 32, height: 24)
