%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0, user-scalable=no'}
    = csrf_meta_tags

    %title Spina

    / Stylesheet
    = stylesheet_link_tag "spina/admin/application"

    /[if lt IE 9]
      = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"

    / JavaScript
    = javascript_include_tag "http://feather.aviary.com/imaging/v2/editor.js"
    = javascript_include_tag "spina/admin/application"
    = yield(:plugin_stylesheets)
  %body{aviary_api_key: current_account.aviary_api_key, aviary_language: current_account.aviary_language, ngrok_address: (current_account.ngrok_address if Rails.env.development?) }
    = render 'spina/admin/shared/navigation'

    = yield(:secondary_navigation)

    %section#main
      %header#main_content_header
        = yield(:permanent_notice) if content_for?(:permanent_notice)
        .pull-right
          = link_to "/", class: 'button button-hollow button-round button-small preview-website', target: :blank, data: {:"no-turbolink" => true} do
            = icon('eye')
            = t('spina.preview_website')
        .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'
        = yield(:tertiary_navigation) if content_for?(:tertiary_navigation)

        = render 'spina/admin/shared/notifications'

      = content_for?(:content) ? yield(:content) : yield

      = link_to 'http://www.spinacms.com', class: 'spina-logo', target: :blank do
        = image_tag('spina/spina.png')

    / Aviary editor
    #injection_site
