<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="turbo-cache-control" content="no-preview" />
    <%= csrf_meta_tags %>
    
    <link rel="icon" href="<%= image_url('spina/favicon.png') %>" />
    
    <title>Spina CMS</title>
    
    <!-- Tailwind -->    
    <%= stylesheet_link_tag 'spina/application', data: {turbolinks_track: true} %>
    
    <!-- Turbo and Stimulus -->
    <%= turbo_include_tags %>
    <%= spina_include_tags %>
    
    <!-- Plugins & Hooks -->
    <%= yield(:head) %>
    <%= render Spina::Hooks::HookComponent.new(partial: "head") %>
    
    <!-- Stimulus Autoloader -->
    <%= autoloader_include_tag %>
  </head>

  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>