%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0, user-scalable=no'}
    = csrf_meta_tags

    %title Spina

    / Stylesheet
    = stylesheet_link_tag 'spina/admin/application'

    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'

    / JavaScript
    = javascript_include_tag 'spina/admin/application'
    = yield(:plugin_stylesheets)

  %body
    = render 'spina/admin/shared/primary_navigation'
    = yield(:secondary_navigation)

    %section#main
      %header#main_content_header
        = yield(:permanent_notice)

        = yield(:header_actions) if content_for?(:header_actions)
        .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'
        = yield(:tertiary_navigation)

        = render 'spina/admin/shared/notifications'

      = content_for?(:application) ? yield(:application) : yield

      = link_to 'http://www.spinacms.com', class: 'spina-logo', target: :blank do
        = image_tag('spina/spina.png')
