- content_for :secondary_navigation do
  %nav#secondary
    %h1= Spina::Inquiry.model_name.human(count: 2)

    %ul
      %li{class: ('active' if ["inbox", "inbox_show"].include? action_name )}
        = link_to spina.inbox_admin_inquiries_path do
          = icon('comment-o')
          - if @new_messages.present?
            = "#{t('spina.inquiries.inbox')} (#{@new_messages.size})"
          - else
            = t('spina.inquiries.inbox')
          %small= t('spina.inquiries.inbox_description')
          
      %li{class: ('active' if ["index", "spam", "show"].include? action_name )}
        = link_to spina.admin_inquiries_path do
          = icon('comments-o')
          = t('spina.inquiries.all')
          %small= t('spina.inquiries.all_description')

- content_for :content do
  = yield

= render template: "layouts/spina/admin/application"