- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

- content_for :application do
  %header#header
    #header_actions
      = link_to '#pages_list', class: 'button sort-switch', data: {change_order: t('spina.pages.change_order'), done_changing_order: t('spina.pages.done_changing_order')} do
        = icon('random')
        = t('spina.pages.change_order')

      = yield(:header_actions) if content_for?(:header_actions)

    .breadcrumbs
      = render_breadcrumbs separator: '<div class="divider"></div>'
      = link_to '/', class: 'button button-small button-hollow', target: :blank do
        %i.icon.icon-export{style: "margin: 0"}

    %nav#secondary.tabs
      %ul
        %li{class: ('active' if controller_name == 'pages')}
          = link_to t('spina.website.all_pages'), spina.admin_pages_path

        - Spina::Navigation.sorted.each do |navigation|
          %li{class: ('active' if controller_name == 'navigations' && @navigation == navigation)}= link_to navigation.label, spina.admin_navigation_path(navigation)

  = yield

= render template: "layouts/spina/admin/admin"
