- content_for :secondary_navigation do
  %nav#secondary
    %h1= t('spina.website.title')

    %ul
      %li{class: ('active' if controller_path.start_with?('spina/admin/pages'))}
        = link_to spina.admin_pages_path do
          = icon('pages')
          = t('spina.website.pages')
          %small= t('spina.website.pages_description')

      %li{class: ('active' if controller_path =~ %r{\Aspina/admin/(photos|attachments)})}
        = link_to spina.admin_photos_path do
          = icon('image')
          = t('spina.website.media_library')
          %small= t('spina.website.media_library_description')

      - Spina::Plugin.all.each do |plugin|
        - if current_theme.config.plugins.include? plugin.name.downcase
          - if lookup_context.exists? "spina/admin/#{ plugin.namespace }/shared/_website_secondary_navigation"
            = render "spina/admin/#{ plugin.namespace }/shared/website_secondary_navigation", plugin: plugin

- content_for(:content) do
  = content_for?(:website_content) ? yield(:website_content) : yield

= render template: "layouts/spina/admin/application"

- if content_for?(:plugin_stylesheets)
  - content_for(:plugin_stylesheets) do
    = yield(:plugin_stylesheets)
