- content_for :secondary_navigation do
  %nav#secondary
    %h1= t('spina.website.title')
    %ul
      %li{class: ('active' if current_admin_path.start_with?('/pages'))}
        = link_to spina.admin_pages_path do
          = icon('pages')
          = t('spina.website.pages')
          %small= t('spina.website.pages_description')

      %li{class: ('active' if current_admin_path.start_with?('/photos', '/attachments'))}
        = link_to spina.admin_photos_path do
          = icon('image')
          = t('spina.website.media_library')
          %small= t('spina.website.media_library_description')

      - Spina::Plugin.all.each do |plugin|
        - if current_theme.plugins.include? plugin.name
          - if lookup_context.exists? "spina/admin/hooks/#{ plugin.namespace }/_website_secondary_navigation"
            = render "spina/admin/hooks/#{ plugin.namespace }/website_secondary_navigation", plugin: plugin

- content_for(:application) do
  = content_for?(:website) ? yield(:website) : yield

= render template: 'layouts/spina/admin/application'

