- content_for :secondary_navigation do
  %nav#secondary
    %h1= t('spina.website.title')

    %ul
      %li{class: ('active' if params[:controller] == "spina/admin/pages")}
        = link_to spina.admin_pages_path do
          = icon('document')
          = t('spina.website.pages')
          %small= t('spina.website.pages_description')

      %li{class: ('active' if params[:controller] == "spina/admin/photos" || params[:controller] == "spina/admin/attachments")}
        = link_to spina.admin_photos_path do
          = icon('media-library')
          = t('spina.website.media_library')
          %small= t('spina.website.media_library_description')

      - Spina.plugins(:website_resource).each do |plugin|
        - if current_theme.config.plugins.include? plugin.name.downcase
          %li{class: ('active' if params[:controller] == "spina/admin/#{plugin.config.controller}")}
            = link_to spina.send("admin_#{plugin.config.controller}_path"), data: {icon: plugin.config.spina_icon} do
              = plugin.config.title
              %small= plugin.config.description

- content_for(:content) do
  = content_for?(:website_content) ? yield(:website_content) : yield
  
= render template: "layouts/spina/admin/application"