- if Spina.config.locales.size > 1
  %div{style: 'display: inline-block; margin-left: 12px; position: absolute', data: {dropdown: true}}
    = link_to '#', class: 'button button-link button-round button-small', data: {trigger: 'dropdown', target: '#locales'} do
      = icon('comment')
      = locale.upcase

    %ul#locales
      - Spina.config.locales.each do |locale|
        %li
          = link_to t("languages.#{locale}"), "?locale=#{locale}", style: ('font-weight: 600' if locale.to_s == locale.to_s)
