%nav#primary
  %ul
    %li{class: ('active' if (%w[pages photos attachments] + Spina::Plugin.find_all_by_type('website_resource').map { |plugin| plugin.namespace if current_theme.config.plugins.include?(plugin.name.downcase) }).include? controller_name)}
      = link_to spina.admin_pages_path do
        = icon('home')

    %li{class: ('active' if %w[inquiries].include? controller_name)}
      - if @new_messages.present?
        = link_to spina.inbox_admin_inquiries_path, data: {badge: "#{@new_messages.size}"} do
          = icon('mail')
      - else
        = link_to spina.admin_inquiries_path do
          = icon('mail')

    %li{class: ('active' if %w[accounts users tenants].include? controller_name)}
      = link_to spina.edit_admin_account_path do
        = icon('cog')

    %li.bottom
      = link_to spina.admin_logout_path, data: {no_turbolink: true} do
        = icon('power-off')
