%aside#notifications
  - if flash[:notice]
    .notification.animated.fadeInRight
      = icon('info')
      .notification-message
        = flash[:notice].html_safe
        %small= flash[:notice_small].try(:html_safe)
      = link_to '#', data: {close_notification: true} do
        = icon('cross')

  - if flash[:alert]
    .notification.notification-danger.animated.fadeInRight
      = icon('exclamation')
      .notification-message
        = flash[:alert].html_safe
        %small= flash[:alert_small].try(:html_safe)
      = link_to '#', data: {close_notification: true} do
        = icon('cross')

  - if flash[:success]
    .notification.notification-success.animated.fadeInRight
      = icon('large-check')
      .notification-message
        = flash[:success].html_safe
        %small= flash[:success_small].try(:html_safe)
      = link_to '#', data: {close_notification: true} do
        = icon('cross')

  = yield(:notifications) if content_for?(:notifications)