
- object_id = ("new_association_#{f.object.object_id}").to_s + "_#{field}"
/ Even spelen
- if defined?(value)
  = f.hidden_field field, id: "#{object_id}_input", value: value
- else
  = f.hidden_field field, id: "#{object_id}_input"

%trix-editor.text-input.trix-content{ input: "#{object_id}_input" }
