.modal
  = form_tag spina.wysihtml5_link_admin_page_parts_path(params[:object_id]), method: :post, remote: true do
    %header
      = link_to "", "#", class: 'close_modal', data: {dismiss: 'modal', icon: 'm'}
      %h3=t 'spina.wysiwyg.insert_link'

    %section
      = text_field_tag :link, nil, placeholder: "URL"

    %footer
      = link_to t('spina.cancel'), "#", data: {dismiss: 'modal'}
      = button_tag t('spina.wysiwyg.insert_link'), type: 'submit', class: 'primary', data: {icon: 't '}
