.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = link_to select_admin_attachments_path(f.object_name, selected_attachment_id: f.object.partable.try(:id)), remote: true, class: 'media_picker clearfix' do
    .placeholder
      %span.button.button-small.button-round
        %i.icon.icon-dots
        = t('spina.choose_from_library')

    - if f.object.partable && f.object.partable.file.attached?
      .attachment= f.object.partable.name

    = f.hidden_field :partable_id
