.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = f.fields_for :partable, f.object.partable do |ff|
    = link_to select_collection_admin_attachments_path(ff.object_name, selected_attachment_ids: ff.object.attachment_ids), remote: true, class: 'media_picker clearfix' do
      .placeholder
        %span.button.button-small.button-round
          %i.icon.icon-dots
          = t('spina.choose_from_library')
      - if ff.object.attachments.any?
        - ff.object.attachments.each do |attachment|
          .attachment= attachment.name

      = ff.hidden_field :attachment_tokens, value: ff.object.attachment_ids.join(",")
