!!!
%html
  %head
    %title= current_account.name
    = stylesheet_link_tag    'demo/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render 'demo/shared/languages'
      = render 'demo/shared/navigation'
      = yield
