%tr
  %td= attachment.name
  %td.nowrap= number_to_human_size(attachment.file.size)
  %td.nowrap
    %small= l attachment.created_at, format: '%d %B %Y %H:%M'
  %td= attachment.file.try(:url)
  %td.nowrap
    = link_to t('spina.delete'), "#", class: 'button button-link button-danger button-small', data: {confirm: t('spina.delete_confirmation', subject: attachment.name)}