.modal.modal-large
  %header
    = link_to "", "#", class: 'close_modal', data: {dismiss: 'modal', icon: 'm'}
    %h3= t('spina.attachments.insert_multiple')

  %section
    = form_tag spina.insert_collection_admin_attachments_path(params[:page_part_id]), remote: true, class: 'document-select' do
      .table-container
        %table.table.table-clickable-tr{style: 'margin-top: 0'}
          - @attachments.each do |attachment|
            %tr
              %td
                .form-checkbox
                  = check_box_tag 'attachment_ids[]', attachment.id, attachment.id.in?(@selected_attachment_ids), id: "attachment_id_#{attachment.id}"
                  = label_tag "attachment_id_#{attachment.id}", attachment.name
      %footer
        = link_to t('spina.cancel'), "#", data: {dismiss: 'modal'}
        = button_tag t('spina.attachments.insert_multiple'), type: 'submit', class: 'primary', data: {icon: 't '}
