.table-container
  %table.table
    %thead
      %tr
        %th= Spina::Attachment.human_attribute_name(:name)
        %th= Spina::Attachment.human_attribute_name(:size)
        %th= Spina::Attachment.human_attribute_name(:created_at)
        %th
      %tr
        %td{colspan: 5}
          = form_for [spina, :admin, @attachment], html: {multipart: true, class: "new_document", style: 'margin-bottom: 0'} do |f|
            = f.file_field :file, data: {customfileinput: true}

    %tbody.table-prepend-document
      = render partial: 'spina/admin/attachments/attachment', collection: @attachments
