.horizontal-form-label
  = attachment_form.object.title
.horizontal-form-content
  = attachment_form.hidden_field :id
  = attachment_form.hidden_field :title
  = attachment_form.hidden_field :page_partable_type
  = attachment_form.hidden_field :name

  = link_to select_admin_attachments_path(attachment_form.object_name), remote: true, class: "media_picker" do
    - if attachment_form.object.page_partable && attachment_form.object.page_partable.file.present?
      .attachment= attachment_form.object.page_partable.name
    - else
      .placeholder
        %span{data: {icon: 't'}}
          = t('spina.choose_from_library')

    = attachment_form.hidden_field :page_partable_id