.horizontal-form-label
  = line_form.object.title
.horizontal-form-content
  = line_form.hidden_field :id
  = line_form.hidden_field :title
  = line_form.hidden_field :page_partable_type
  = line_form.hidden_field :name

  = line_form.fields_for :page_partable, line_form.object.page_partable do |form|
    = form.text_field :content, placeholder: "#{t 'spina.pages.page_part'} #{line_form.object.name.downcase}"
