%td
  = photo_collection_form.object.title
%td
  = photo_collection_form.hidden_field :id
  = photo_collection_form.hidden_field :title
  = photo_collection_form.hidden_field :page_partable_type
  = photo_collection_form.hidden_field :name

  = photo_collection_form.fields_for :page_partable, photo_collection_form.object.page_partable do |form|
    = link_to spina.photo_collection_select_admin_photos_path(form.object_name, selected_photo_ids: (form.object.photo_ids if form.object.photos.any?)), remote: true, class: "media_picker" do
      .placeholder{class: ('pull-right' if form.object.photos.any?)}
        %span.button.button-small.button-round{data: {icon: 'U'}}=t 'spina.pages.photos_picker'

    .photo-collection
      - if form.object.photos.sorted_by_photo_collection.any?
        = render 'spina/admin/photos/photo_collection', photos: form.object.photos.sorted_by_photo_collection
      - elsif form.object.photos.any?
        = render 'spina/admin/photos/photo_collection', photos: form.object.photos
    = form.hidden_field :photo_tokens, value: form.object.photo_ids.join(",")
    = form.hidden_field :photo_positions, value: form.object.photos.sorted_by_photo_collection.pluck(:photo_id).join(","), class: 'photo-positions'