%td{colspan: 2, style: 'vertical-align: top; padding-left: 0px; padding-right: 0px'}
  = structure_form.hidden_field :id
  = structure_form.hidden_field :title
  = structure_form.hidden_field :page_partable_type
  = structure_form.hidden_field :name

  .structure-form
    .structure-form-menu
      %label= structure_form.object.title

      %ul
        - structure_form.object.page_partable.structure_items.sorted_by_structure.each do |structure_item|
          %li{data: {structure_item_id: structure_item.id}}
            = link_to "#structure_form_pane_#{structure_item.id}" do
              %i.sortable-handle{data: {icon: '7'}}
              = structure_item.structure_parts.first.structure_partable.try(:content)

    .structure-form-content
      = structure_form.fields_for :page_partable do |form|
        - form.object.page_part = structure_form.object

        = form.fields_for :structure_items, form.object.structure_items.sorted_by_structure do |structure_item_form|
          = render 'structure_item_fields', f: structure_item_form

        = link_to_add_structure form, :structure_items do
          %i{data: {icon: 't'}}