%td
  = text_form.object.title
%td
  = text_form.hidden_field :id
  = text_form.hidden_field :title
  = text_form.hidden_field :page_partable_type
  = text_form.hidden_field :name

  = text_form.fields_for :page_partable, text_form.object.page_partable do |ff|
    = render 'spina/admin/shared/rich_text_field', form: ff, field: :content
