<button type="button" class="block px-3 leading-relaxed py-1 hover:text-gray-800 rounded-md text-gray-400 font-medium text-sm flex items-center whitespace-nowrap" data-action="tabs#show" data-tabs-target="button" data-pane-id="<%= @tab_name %>">
  <%= icon %>
  <span class="<%= text_class %>"><%= t("spina.pages.#{@tab_name}") %></span>
  <% if @shortened_text_for_mobile %>
    <span class="md:hidden"><%= @shortened_text_for_mobile %></span>
  <% end %>
</button>
